doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/moment.min.js")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  body
    block content